@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
h1 {
  margin-top: 80px;
  font-size: 50px;
  text-shadow: #1f2039 0 0 10px;
}
html{
	margin: 0;
	padding: 0;
  }

body {
  font-family: 'KimjungchulGothic-Bold';
	width: 100%;
  height: 100%;
	min-width: 1400px;
	min-height: 650px;
  margin: 0;
	padding: 0;
  text-align: center;
	align-items: center;
	background: linear-gradient(
	213deg,
	#b998ff 0%,
	#dece7e 100%
	) fixed;    
    color: white;

}

div {
  width: 100%;
  height: 100%;
}


section {
	padding-bottom: 80px; /* footer의 height값과 동일 */
  }

.top {
	width: 100%;
	height: 150px;
  display: flex;
	align-items: center;
	justify-content: center;
}

.top2 {
	width: 100%;
	height: 20%;
	line-height: 120px;
}

.middle {
  position: relative; /* 가상 요소 위치를 위해 필요 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;  /* 상단 마진과 좌우 자동 마진 설정 */
  background: #ffffff4d;  /* 배경색 설정 */
  padding-top: 28px;  /* 내부 패딩 추가 */
  padding-bottom: 20px;  /* 내부 패딩 추가 */
  border-radius: 1000px;  /* 모서리 둥글게 */
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);  /* 그림자 효과 추가 */
  width: 100%;  /* 너비 100%로 설정 */
  max-width: 1109px;  /* 최대 너비 설정 */
  overflow: hidden;  /* 내부 요소가 박스를 벗어나지 않도록 */
}


.bottom {
	width: 100%;
	height: 85%;
}

.bottom2 {
	width: 100%;
	height: 80%;
}

.left {
  text-shadow: #303148 0 0 8px;
  width: 300px;
  height: 493.2px;
  float: left;
	background-size: cover;
  margin: 10px;
}

.right {
  text-shadow: #303148 0 0 5px;
	width: 420px;
	height: auto;  
	float: right;
	box-sizing: border-box;
  padding: 2%;
  border-width:14px;
  margin: 10px;
}

.leftImg {
	width: 342.05px;
	height: 50px;
	text-align: center;
}

.img {
  width: 258px;
  height: 291px;
}


.img2{
  width: 1000px;
  height: 300px;
}

.select {
  width: 100%;
  height: 50px;
}
h3{
  font-size: 26px;
  color: rgb(255, 255, 255);
}
.HI{
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.selectBox {
	width: 150px;
	height: 35px;
	border-radius: 10px;
	border: 3px solid #c9c0ff;
  background: #ffffff;
  font-family: 'KCC-Hanbit';
  color : #413f3f;
}

.selectBox .select {
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
}

.button {
	width: 80px;
	height: 30px;
	border-radius: 10px;
	border: 3px solid #c9c0ff;
  background: #ffffff;
  display :inline-block;
  margin-left: 20px;
  font-family: 'KCC-Hanbit';
  color: rgb(83, 58, 58)
}
.button1 {
	width: 80px;
	height: 30px;
	border-radius: 10px;
	border: 3px solid #c9c0ff;
  background: #ffffff;
  display :inline-block;
  margin-top: 20px;
  font-family: 'KCC-Hanbit';
  color: rgb(27, 19, 19);
}
.button.active {
  width: 80px;
	height: 30px;
	border-radius: 10px;
  border: 3px solid #ff89ce;
  background: #ffb1dc;
  color: rgb(255, 255, 255);
  text-shadow: #ff0a89 0 0 2px;
  font-family: 'KCC-Hanbit';
}


.white {
    width:1200px; 
    height:400px; 
    box-sizing:border-box; 
    padding:25px 40px 25px 25px;  
    background: white;
    border-style:solid;
    border-width:10px;
    border-color:#f3d3ff;
    border-radius: 30px;
    margin: auto;
    display: block;
}

footer{
	width: 100%;
	height:40px;
	position: absolute;
	bottom: 0px;
	align-items: center;
	justify-content: center;
  }



.footer-message1 {
    display: flex;
    justify-content: center; /* div 전체를 중앙 정렬 */
    align-items: center;
    text-decoration: none;
	font-family: 'Minhye';
  font-size: 23px;
  font-family: 'KimjungchulGothic-Bold';
}

.footer-message1 a {
  display: inline-flex; /* a 태그 내의 내용을 inline-flex로 설정 */
  align-items: center;
  text-decoration: none; /* 밑줄 제거 */
  color:#fffb11;
  
}

.footer-message1 a img {
    margin: 0 5px; /* 이미지와 텍스트 사이 간격 */
}

.footer-message2{
	font-size: 20ßpx;
	color:#ffffff;
	margin:0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
}

.HI{
  font-size: 24px;
  color: rgb(255, 255, 255);
}

p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}