body {
	width: 1200px;
    height: 100%;
	min-width: 100%;
	min-height: 100%;
    text-align: center;
	align-items: center;
	background: #16a085;
	background: linear-gradient(
		213deg,
		#30336b 0%,
		#16a085 100%
	) fixed;    
    color: white;

}

div {
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.4em;
}


.top {
	width: 100%;
	height: 15%;
	line-height: 120px;
}

.top2 {
	width: 100%;
	height: 20%;
	line-height: 120px;
}

.bottom {
	width: 100%;
	height: 85%;
}

.bottom2 {
	width: 100%;
	height: 80%;
}

.left {
  width: 35%;
  height: 85%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  margin-left: 15%;
  padding: 2.5%;
  background: #16a085;
  border-style: solid;
  border-width: 8px;
  border-color: #64a396;
  border-radius: 30px;
}
.right {
	width: 35%;
	height: 85%;  
	float: right;
	box-sizing: border-box;
    margin-right: 10%;
    padding: 2.5%;
    background: #16a085;
    border-style:solid;
    border-width:8px;
    border-color:#64a396;
    border-radius: 30px;
}
.leftImg {
	width: 20%;
	height: 85%;
	float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img {
  width: 50%;
  height: 50%;
}

.img2{
    width: 80%;
}

.select {
  width: 100%;
  height: 60px;
}

.selectBox {
	width: 150px;
	height: 35px;
	border-radius: 4px;
	border: 2px solid #139077;
}

.selectBox .select {
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
}

.button {
	width: 80px;
	height: 30px;
	border-radius: 4px;
	border: 2px solid #139077;
}

.white {
    width:1080px; 
    height:320px; 
    box-sizing:border-box; 
    padding:25px 40px 25px 25px;  
    background: white;
    border-style:solid;
    border-width:10px;
    border-color:#64a396;
    border-radius: 30px;
    margin: auto;
    display: block;
}