

<form method="get" action="" class="form" style="margin-left: 7%; margin-top: 5%;">
    <div class="col-md-3">
        <script type="text/javascript">
            function select_gu(obj) {
                if (obj.value == "01") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option>    
                        <option value='108'>서울</option>
                    `;
                }
                else if (obj.value == "02") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='159'>부산</option>
                    `;
                }
                else if (obj.value == "03") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='102'>백령도</option>
                        <option value='112'>인천</option>
                        <option value='201'>강화</option>
                    `;
                }
                else if (obj.value == "04") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='143'>대구</option>
                    `;
                }
                else if (obj.value == "05") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='133'>대전</option>
                    `;
                }
                else if (obj.value == "06") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='156'>광주</option>
                    `;
                }
                else if (obj.value == "07") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        option value='152'>울산</option>
                    `;
                }
                else if (obj.value == "08") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='239'>세종</option>
                    `;
                }
                else if (obj.value == "09") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='98'>동두천</option>
                        <option value='99'>파주</option>
                        <option value='119'>수원</option>
                        <option value='202'>양평</option>
                        <option value='203'>이천</option>
                    `;
                }
                else if (obj.value == "10") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='127'>충주</option>
                        <option value='131'>청주</option>
                        <option value='135'>추풍령</option>
                        <option value='221'>제천</option>
                        <option value='226'>보은</option>
                    `;
                }
                else if (obj.value == "11") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='129'>서산</option>
                        <option value='177'>홍성</option>
                        <option value='232'>천안</option>
                        <option value='235'>보령</option>
                        <option value='236'>부여</option>
                        <option value='238'>금산</option>
                    `;
                }
                else if (obj.value == "12") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='165'>목포</option>
                        <option value='168'>여수</option>
                        <option value='169'>흑산도</option>
                        <option value='170'>완도</option>
                        <option value='174'>순천</option>
                        <option value='252'>영광군</option>
                        <option value='258'>보성군</option>
                        <option value='259'>강진군</option>
                        <option value='260'>장흥</option>
                        <option value='261'>해남</option>
                        <option value='262'>고흥</option>
                        <option value='266'>광양시</option>
                        <option value='268'>진도군</option>
                    `;
                }
                else if (obj.value == "13") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='115'>울릉도</option>
                        <option value='130'>울진</option>
                        <option value='136'>안동</option>
                        <option value='137'>상주</option>
                        <option value='138'>포항</option>
                        <option value='271'>봉화</option>
                        <option value='272'>영주</option>
                        <option value='273'>문경</option>
                        <option value='276'>청송군</option>
                        <option value='277'>영덕</option>
                        <option value='278'>의성</option>
                        <option value='279'>구미</option>
                        <option value='281'>영천</option>
                        <option value='283'>경주시</option>
                    `;
                }
                else if (obj.value == "14") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='115'>창원</option>
                        <option value='162'>통영</option>
                        <option value='192'>진주</option>
                        <option value='253'>김해시</option>
                        <option value='255'>북창원</option>
                        <option value='257'>양산시</option>
                        <option value='263'>의령군</option>
                        <option value='264'>함양군</option>
                        <option value='284'>거창</option>
                        <option value='285'>합천</option>
                        <option value='288'>밀양</option>
                        <option value='289'>산청</option>
                        <option value='294'>거제</option>
                        <option value='295'>남해</option>
                    `;
                }
                else if (obj.value == "15") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='90'>속초</option>
                        <option value='93'>북춘천</option>
                        <option value='95'>철원</option>
                        <option value='100'>대관령</option>
                        <option value='101'>춘천</option>
                        <option value='104'>북강릉</option>
                        <option value='105'>강릉</option>
                        <option value='106'>동해</option>
                        <option value='114'>원주</option>
                        <option value='121'>영월</option>
                        <option value='211'>인제</option>
                        <option value='212'>홍천</option>
                        <option value='216'>태백</option>
                        <option value='217'>정선군</option>
                    `;
                }
                else if (obj.value == "16") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='159'>군산</option>
                        <option value='159'>전주</option>
                        <option value='159'>고창</option>
                        <option value='159'>부안</option>
                        <option value='159'>임실</option>
                        <option value='159'>정읍</option>
                        <option value='159'>남원</option>
                        <option value='159'>장수</option>
                        <option value='159'>고창</option>
                        <option value='159'>순창군</option>
                    `;
                }
                else if (obj.value == "17") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value="0" selected>시/군/구 선택</option> 
                        <option value='184'>제주</option>
                        <option value='185'>고산</option>
                        <option value='188'>성산</option>
                        <option value='189'>서귀포</option>
                    `;
                }
            }
        </script>
        <select id="inputcity" class="form-select" name="jcity" required onchange="select_gu(this);">
            <option value="0" selected>시/도 선택</option>
            <option value="01">서울특별시</option>
            <option value="02">부산광역시</option>
            <option value="03">인천광역시</option>
            <option value="04">대구광역시</option>
            <option value="05">대전광역시</option>
            <option value="06">광주광역시</option>
            <option value="07">울산광역시</option>
            <option value="08">세종특별자치시</option>
            <option value="09">경기도</option>
            <option value="10">충청북도</option>
            <option value="11">충청남도</option>
            <option value="12">전라남도</option>
            <option value="13">경상북도</option>
            <option value="14">경상남도</option>
            <option value="15">강원특별자치도</option>
            <option value="16">전북특별자치도</option>
            <option value="17">제주특별자치도</option>
        </select>
    </div>
    <div class="col-md-4">
        <select id="inputCounty" class="form-select" name="jcounty" required>
            <option value="none">시/군/구 선택</option>
        </select>
    </div>
</form>
